head
  title Data Monitoring
  style.
    button {
    border: 2px solid #0598df;
    background: #fff;
    color: #0598df;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 14px;
    }
    button:hover {
    background: #0598df;
    color: #fff;
    }
    button:focus {
    outline: none;
    }
button(onclick='updateDataCSV()') Load Data
#wdr-component
link(href='https://cdn.webdatarocks.com/latest/webdatarocks.min.css' rel='stylesheet')
script(src='https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js')
script(src='https://cdn.webdatarocks.com/latest/webdatarocks.js')
script.
  function updateDataCSV() {
    webdatarocks.updateData({
      filename: !{JSON.stringify(data_path)}
    });
  }
  var pivot = new WebDataRocks({
    container: "#wdr-component",
    toolbar: true,
    report: {
      dataSource: {
        filename: !{JSON.stringify(data_path)}
      }
     }
  });
